section {
  article {
    width: 33%;
    display: inline-block;
    min-height: 16em;

    img {
      width: 25%;
      float: left;
      padding: 0 1em 0 0;
    }

    div {
      width: 65%;
      float: left;
      padding: 1em 1em 0 0;
    }
  }
}
